---
layout: default
title: Vente de poteries artisanales en ligne
---

<header class="title_frame">
  <div class="text">
    <h1>Vente de poteries artisanales</h1>
  </div>
</header>



<div class="container">

  <div class="row">

    {% include boutique_instructions.html %}

  </div>
  <div class="row">

  </div>
  <div class="row boutique-body">

    <div id="boutiqueFiltersBackdrop" onclick="toggleFilterModal(); return false;"></div>
    <div id=boutiqueFiltersContainer class="container boutiqueFiltersContainer">
      <div class="header mobile-only">
        <i class="fa fa-filter"></i> Filtres
        <a href="#" onclick="toggleFilterModal(); return false;" class="close-button mobile-only" aria-label="Close">
          <i class="fa fa-times"></i>
        </a>
      </div>

      <div class=content>

        <div style="margin-right: 10px;">
          <span class="filterTitle">Materiaux</span>
          <ul id="boutiqueMaterialFilters">
          </ul>
        </div>

        <div style="flex-grow: 1;">
          <span class="filterTitle">Catégories</span>
          <ul id="boutiqueTagFilters">
          </ul>
        </div>

      </div>

      <script defer src="/js/boutique.js"></script>
    </div>
    <div onclick="toggleFilterModal(); return false;" class="mobile-only boutique-filter-mobile-button">
      <i class="fa fa-filter"></i>
    </div>

    <div id=boutique_list class="boutique_list">
      {% include boutique_list.html %}
    </div>

  </div>
</div>