---
layout: default
title: Vente de poteries artisanales en ligne
---

<header class="title_frame">
  <div class="text">
    <h1>Vente de poteries artisanales</h1>
  </div>
</header>



<div class="container">

  <div class="row">

    {% include boutique_instructions.html %}

  </div>
  <div class="row">

    <div id=boutiqueFiltersContainer class="container boutiqueFiltersContainer">

      <button type="button" onclick="toggleDisplayBlock('boutiqueFiltersContainer')" class="btn-close mobile-only"
        aria-label="Close">

      </button>

      <div style="margin-right: 10px;">
        <span class="filterTitle">Materiaux</span>
        <ul id="boutiqueMaterialFilters">
        </ul>
      </div>

      <div style="flex-grow: 1;">
        <span class="filterTitle">Catégories</span>
        <ul id="boutiqueTagFilters">
        </ul>
      </div>


      <script defer src="/js/boutique.js"></script>
    </div>
  </div>
  <div class="mobile-only boutique-filter-mobile-button">
    <a href="#" onclick="toggleDisplayBlock('boutiqueFiltersContainer')"><i class="fa fa-filter"></i></a>
  </div>
  <div class="row">
    <div id=boutique_list class="boutique_list">
      {% include boutique_list.html %}
    </div>

  </div>
</div>