

<div class="atelier-info">

  <div class=box>
    <h2 class=title><i class="fa fa-car"></i> Venir à l'atelier</h2>

    <div class=content>

      La Poterie du Vexin<br />
      13 rue du grand jardin<br />
      27380 Amfreville sous les monts<br />

      <a href="https://maps.google.com/?q=La poterie du vexin 27380 Amfreville sous les monts">Afficher dans Google
        Maps</a><br /><br />

      L’atelier est situé tout en haut de la falaise à Amfreville sous les monts au <b>13 rue du grand Jardin 27380</b>
      A 25mn de Louviers, 20mn des Andelys et 40mn du centre de Rouen
      Attention : La rue du grand jardin est en sens unique. Pour certain GPS elle est indiqué dans le mauvais sens. Il
      vous faudra aller à l’extrémité Est du Village, pour prendre la rue dans le bon sens (à l’opposé de la mairie)

    </div>
  </div>

  <div class=box>

    <h2 class=title><i class="fa fa-phone"></i> Me contacter</h2>
    <div class=content>
      Email : <a href="mailto:{{ site.email }}" style="color:#000">{{ site.email }}</a><br />
      Téléphone mobile: 06 01 71 90 31<br />
      Téléphone fixe : 02 32 48 67 46<br />
      <a href="https://www.facebook.com/poterievexin">Page Facebook</a>
    </div>
  </div>

  <div class=box>

    <h2 class=title><i class="fa fa-history"></i> Histoire de l'atelier</h2>

    <div class=content>
      J'ai créé cet atelier en 2007 après une formation à l’institut de céramique française de sèvres. J’ai commencé
      par un travail personnel en solitaire de tournage modelage sur des grandes pièces, puis j’ai eu envie de
      partager avec d'autres ce travail artisanal et j’ai commencé à donner des cours.
      J'aime donner forme à la terre dans le calme, la lenteur et la musique. Entouré par la nature et mes chats.
      Je travaille également sur commande : Pièces uniques, petites et grandes séries
    </div>
  </div>
  <div class=box>
    <h2 class="title"><i class="fa fa-handshake"></i> Partenaires</h2>

    <div class="content">

  
      <p>
        Fabriquant Normand de pates céramiques: <a href="http://www.raoult-beck.fr">raoult-beck</a>
      </p>
      
      <p>
        Fournisseurs de matières premières:
        <ul>
          <li><a href="https://www.peterlavem.fr/">Peter Lavem</a></li>
          <li><a href="http://www.solargil.com/fr/">Solargil</a></li>
          <li><a href="https://www.poleceramiquenormandie.com/">poleceramiquenormandie</a></li>
        </ul>
      </p>
      
      <p>
        Associations liées à la céramique:
        <ul>
          <li><a href="https://www.facebook.com/poleceramiquenormandie/">Association Pôle Céramique Normandie</a></li>
        </ul>
      </p>
        
      </div>
    </div>
  </div>
</div>
