<script>var allTags = ['bol','boite','vase','Coupelle','gobelet','tasse','tajine','assiette','pot à cornichons','coquetier','entonoir','saladier','pot à brosse à dent','pot','cendrier','pichet','porte savon','plat'];</script>
  <a href="/poteries/bol-en-raku-a15">
      <div class="piece box raku bol">
  
          <img class=title src="/img/boutique/a15/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Bol en raku</div>
              <div class=info><ul>
                <li>Hauteur(cm): 13</li>
                <li>Largeur(cm): 7,2</li>
                <li>Poids(grammes): 340 </li>
                <li>Ref: a15</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">49.4€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/boite-en-raku-a16">
      <div class="piece box raku boite">
  
          <img class=title src="/img/boutique/a16/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Boite en raku</div>
              <div class=info><ul>
                <li>Hauteur(cm): 12, ouverture: 6.2</li>
                <li>Largeur(cm): 10.8</li>
                <li>Poids(grammes): 444 </li>
                <li>Ref: a16</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">62.4€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/bol-en-raku-a2">
      <div class="piece box raku bol">
  
          <img class=title src="/img/boutique/a2/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Bol en raku</div>
              <div class=info><ul>
                <li>Hauteur(cm): 12</li>
                <li>Largeur(cm): 8</li>
                <li>Poids(grammes): 454 </li>
                <li>Ref: a2</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">45.5€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/vase-en-raku-a21">
      <div class="piece box raku vase">
  
          <img class=title src="/img/boutique/a21/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Vase en raku</div>
              <div class=info><ul>
                <li>Hauteur(cm): 17</li>
                <li>Largeur(cm): 20</li>
                <li>Poids(grammes): 969 </li>
                <li>Ref: a21</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">97.5€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/bol-en-raku-a22">
      <div class="piece box raku bol">
  
          <img class=title src="/img/boutique/a22/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Bol en raku</div>
              <div class=info><ul>
                <li>Hauteur(cm): 13</li>
                <li>Largeur(cm): 10</li>
                <li>Poids(grammes): 466 </li>
                <li>Ref: a22</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">62.4€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/coupelle-en-raku-a26">
      <div class="piece box raku coupelle">
  
          <img class=title src="/img/boutique/a26/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Coupelle en raku</div>
              <div class=info><ul>
                <li>Hauteur(cm): 16,5</li>
                <li>Largeur(cm): 10,8</li>
                <li>Poids(grammes): 425 </li>
                <li>Ref: a26</li>
                <li>Stock: 2</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">49.4€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/gobelet-en-raku-a29">
      <div class="piece box raku gobelet">
  
          <img class=title src="/img/boutique/a29/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Gobelet en raku</div>
              <div class=info><ul>
                <li>Hauteur(cm): 7.5</li>
                <li>Largeur(cm): 5.5</li>
                <li>Poids(grammes): 128 </li>
                <li>Ref: a29</li>
                <li>Stock: 5</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">19.5€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/gobelet-en-raku-a30">
      <div class="piece box raku gobelet">
  
          <img class=title src="/img/boutique/a30/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Gobelet en raku</div>
              <div class=info><ul>
                <li>Hauteur(cm): 7</li>
                <li>Largeur(cm): 8</li>
                <li>Poids(grammes): 188 </li>
                <li>Ref: a30</li>
                <li>Stock: 2</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">23.4€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/bol-en-raku-a32">
      <div class="piece box raku bol">
  
          <img class=title src="/img/boutique/a32/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Bol en raku</div>
              <div class=info><ul>
                <li>Hauteur(cm): 11</li>
                <li>Largeur(cm): 5.5</li>
                <li>Poids(grammes): 294 </li>
                <li>Ref: a32</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">37.7€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/bol-en-raku-a38">
      <div class="piece box raku bol">
  
          <img class=title src="/img/boutique/a38/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Bol en raku</div>
              <div class=info><ul>
                <li>Hauteur(cm): 12</li>
                <li>Largeur(cm): 9</li>
                <li>Poids(grammes): 348 </li>
                <li>Ref: a38</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">49.4€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/bol-en-raku-a39">
      <div class="piece box raku bol">
  
          <img class=title src="/img/boutique/a39/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Bol en raku</div>
              <div class=info><ul>
                <li>Hauteur(cm): 13.8</li>
                <li>Largeur(cm): 7.7</li>
                <li>Poids(grammes): 396 </li>
                <li>Ref: a39</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">49.4€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/bol-en-raku-a4">
      <div class="piece box raku bol">
  
          <img class=title src="/img/boutique/a4/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Bol en raku</div>
              <div class=info><ul>
                <li>Hauteur(cm): 12</li>
                <li>Largeur(cm): 7.5</li>
                <li>Poids(grammes): 379 </li>
                <li>Ref: a4</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">45.5€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/bol-en-raku-a40">
      <div class="piece box raku bol">
  
          <img class=title src="/img/boutique/a40/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Bol en raku</div>
              <div class=info><ul>
                <li>Hauteur(cm): 11.5</li>
                <li>Largeur(cm): 8.3</li>
                <li>Poids(grammes): 389 </li>
                <li>Ref: a40</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">49.4€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/bol-en-raku-a41">
      <div class="piece box raku bol">
  
          <img class=title src="/img/boutique/a41/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Bol en raku</div>
              <div class=info><ul>
                <li>Hauteur(cm): 12,5</li>
                <li>Largeur(cm): 10</li>
                <li>Poids(grammes): 383 </li>
                <li>Ref: a41</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">49.4€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/tasse-en-raku-a43">
      <div class="piece box raku tasse">
  
          <img class=title src="/img/boutique/a43/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Tasse en raku</div>
              <div class=info><ul>
                <li>Hauteur(cm): 11,5 avec anse 15.5</li>
                <li>Largeur(cm): 9.5</li>
                <li>Poids(grammes): 438 </li>
                <li>Ref: a43</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">49.4€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/bol-en-raku-a44">
      <div class="piece box raku bol">
  
          <img class=title src="/img/boutique/a44/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Bol en raku</div>
              <div class=info><ul>
                <li>Hauteur(cm): 13,5</li>
                <li>Largeur(cm): 8.5</li>
                <li>Poids(grammes): 377 </li>
                <li>Ref: a44</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">49.4€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/bol-en-raku-a48">
      <div class="piece box raku bol">
  
          <img class=title src="/img/boutique/a48/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Bol en raku</div>
              <div class=info><ul>
                <li>Hauteur(cm): 13</li>
                <li>Largeur(cm): 11.9</li>
                <li>Poids(grammes): 571 </li>
                <li>Ref: a48</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">71.5€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/vase-en-raku-a54">
      <div class="piece box raku vase">
  
          <img class=title src="/img/boutique/a54/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Vase en raku</div>
              <div class=info><ul>
                <li>Hauteur(cm): bas 15.7 haut 15</li>
                <li>Largeur(cm): 16.5</li>
                <li>Poids(grammes): 1300 </li>
                <li>Ref: a54</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">63.7€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/bol-en-faience-f01">
      <div class="piece box faience bol">
  
          <img class=title src="/img/boutique/f01/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Bol en faïence</div>
              <div class=info><ul>
                <li>Hauteur(cm): 13.2</li>
                <li>Largeur(cm): 10</li>
                <li>Poids(grammes): 338 </li>
                <li>Ref: f01</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">19.5€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/bol-en-faience-f02">
      <div class="piece box faience bol">
  
          <img class=title src="/img/boutique/f02/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Bol en faïence</div>
              <div class=info><ul>
                <li>Hauteur(cm): 12.6</li>
                <li>Largeur(cm): 10.2</li>
                <li>Poids(grammes): 271 </li>
                <li>Ref: f02</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">18.2€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/boite-en-faience-f03">
      <div class="piece box faience boite">
  
          <img class=title src="/img/boutique/f03/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Boite en faïence</div>
              <div class=info><ul>
                <li>Hauteur(cm): 9</li>
                <li>Largeur(cm): 15</li>
                <li>Poids(grammes): 438 </li>
                <li>Ref: f03</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">24.7€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/tajine-en-faience-fr1">
      <div class="piece box faience tajine">
  
          <img class=title src="/img/boutique/fr1/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Tajine en faïence</div>
              <div class=info><ul>
                <li>Hauteur(cm): 32</li>
                <li>Largeur(cm): 23</li>
                <li>Poids(grammes): 4500 </li>
                <li>Ref: fr1</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">247€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/tajine-en-faience-fr2">
      <div class="piece box faience tajine">
  
          <img class=title src="/img/boutique/fr2/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Tajine en faïence</div>
              <div class=info><ul>
                <li>Hauteur(cm): 29.5</li>
                <li>Largeur(cm): 31</li>
                <li>Poids(grammes): 4500 </li>
                <li>Ref: fr2</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">247€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/bol-en-gres-g1">
      <div class="piece box gres bol">
  
          <img class=title src="/img/boutique/g1/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Bol en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 13.5</li>
                <li>Largeur(cm): 9.2</li>
                <li>Poids(grammes): 330 </li>
                <li>Ref: g1</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">19.5€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/tasse-en-gres-g10">
      <div class="piece box gres tasse">
  
          <img class=title src="/img/boutique/g10/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Tasse en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 9</li>
                <li>Largeur(cm): 12.5</li>
                <li>Poids(grammes): 416 </li>
                <li>Ref: g10</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">22.1€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/assiette-en-gres-g11">
      <div class="piece box gres assiette">
  
          <img class=title src="/img/boutique/g11/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Assiette en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 24.5</li>
                <li>Largeur(cm): 2.5</li>
                <li>Poids(grammes): 280 </li>
                <li>Ref: g11</li>
                <li>Stock: 6</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">33.8€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/bol-en-gres-g12">
      <div class="piece box gres bol">
  
          <img class=title src="/img/boutique/g12/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Bol en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 20</li>
                <li>Largeur(cm): 8</li>
                <li>Poids(grammes): 600 </li>
                <li>Ref: g12</li>
                <li>Stock: 3</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">26€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/vase-en-gres-g13">
      <div class="piece box gres vase">
  
          <img class=title src="/img/boutique/g13/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Vase en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 13</li>
                <li>Largeur(cm): 14</li>
                <li>Poids(grammes): 670 </li>
                <li>Ref: g13</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">19.5€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/vase-en-gres-g14">
      <div class="piece box gres vase">
  
          <img class=title src="/img/boutique/g14/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Vase en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 16</li>
                <li>Largeur(cm): 15</li>
                <li>Poids(grammes): 780 </li>
                <li>Ref: g14</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">32.5€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/boite-en-gres-g15">
      <div class="piece box gres boite">
  
          <img class=title src="/img/boutique/g15/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Boite en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 17.5</li>
                <li>Largeur(cm): 17</li>
                <li>Poids(grammes): 1800 </li>
                <li>Ref: g15</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">50.7€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/bol-en-gres-g16">
      <div class="piece box gres bol">
  
          <img class=title src="/img/boutique/g16/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Bol en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 14</li>
                <li>Largeur(cm): 10</li>
                <li>Poids(grammes): 360 </li>
                <li>Ref: g16</li>
                <li>Stock: 4</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">19.5€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/boite-en-gres-g18">
      <div class="piece box gres boite">
  
          <img class=title src="/img/boutique/g18/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Boite en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 17</li>
                <li>Largeur(cm): 19</li>
                <li>Poids(grammes): 1360 </li>
                <li>Ref: g18</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">63.7€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/gobelet-en-gres-g19">
      <div class="piece box gres gobelet">
  
          <img class=title src="/img/boutique/g19/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Gobelet en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 8.5</li>
                <li>Largeur(cm): 12</li>
                <li>Poids(grammes): 200 </li>
                <li>Ref: g19</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">19.5€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/bol-en-gres-g2">
      <div class="piece box gres bol">
  
          <img class=title src="/img/boutique/g2/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Bol en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 11</li>
                <li>Largeur(cm): 7</li>
                <li>Poids(grammes): 290 </li>
                <li>Ref: g2</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">16.9€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/boite-en-gres-g20">
      <div class="piece box gres boite">
  
          <img class=title src="/img/boutique/g20/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Boite en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 18</li>
                <li>Largeur(cm): 23</li>
                <li>Poids(grammes): 2417 </li>
                <li>Ref: g20</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">76.7€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/pot-a-cornichons-en-gres-g22">
      <div class="piece box gres pot-a-cornichons">
  
          <img class=title src="/img/boutique/g22/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Pot à cornichons en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 17</li>
                <li>Largeur(cm): 17</li>
                <li>Poids(grammes): 1271 </li>
                <li>Ref: g22</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">41.6€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/coquetier-en-gres-g25">
      <div class="piece box gres coquetier">
  
          <img class=title src="/img/boutique/g25/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Coquetier en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 4.5</li>
                <li>Largeur(cm): 4.5</li>
                <li>Poids(grammes): 58 </li>
                <li>Ref: g25</li>
                <li>Stock: 2</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">6.5€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/tasse-en-gres-g26">
      <div class="piece box gres tasse">
  
          <img class=title src="/img/boutique/g26/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Tasse en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 7.7</li>
                <li>Largeur(cm): 5</li>
                <li>Poids(grammes): 130 </li>
                <li>Ref: g26</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">13€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/bol-en-gres-g27">
      <div class="piece box gres bol">
  
          <img class=title src="/img/boutique/g27/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Bol en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 11.5</li>
                <li>Largeur(cm): 6.5</li>
                <li>Poids(grammes): 213 </li>
                <li>Ref: g27</li>
                <li>Stock: 6</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">15.6€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/tasse-en-gres-g28">
      <div class="piece box gres tasse">
  
          <img class=title src="/img/boutique/g28/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Tasse en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 7</li>
                <li>Largeur(cm): 9.5</li>
                <li>Poids(grammes): 241 </li>
                <li>Ref: g28</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">16.9€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/assiette-en-gres-g3">
      <div class="piece box gres assiette">
  
          <img class=title src="/img/boutique/g3/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Assiette en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 19</li>
                <li>Largeur(cm): 4</li>
                <li>Poids(grammes): 470 </li>
                <li>Ref: g3</li>
                <li>Stock: 6</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">23.4€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/tasse-en-gres-g30">
      <div class="piece box gres tasse">
  
          <img class=title src="/img/boutique/g30/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Tasse en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 9.5</li>
                <li>Largeur(cm): 15</li>
                <li>Poids(grammes): 488 </li>
                <li>Ref: g30</li>
                <li>Stock: 4</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">22.1€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/bol-en-gres-g31">
      <div class="piece box gres bol">
  
          <img class=title src="/img/boutique/g31/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Bol en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 11</li>
                <li>Largeur(cm): 8</li>
                <li>Poids(grammes): 271 </li>
                <li>Ref: g31</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">16.9€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/boite-en-gres-g36">
      <div class="piece box gres boite">
  
          <img class=title src="/img/boutique/g36/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Boite en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 16</li>
                <li>Largeur(cm): 26</li>
                <li>Poids(grammes): 1705 </li>
                <li>Ref: g36</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">42.9€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/bol-en-gres-g4">
      <div class="piece box gres bol">
  
          <img class=title src="/img/boutique/g4/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Bol en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 11.5</li>
                <li>Largeur(cm): 9.5</li>
                <li>Poids(grammes): 337 </li>
                <li>Ref: g4</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">19.5€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/gobelet-en-gres-g40">
      <div class="piece box gres gobelet">
  
          <img class=title src="/img/boutique/g40/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Gobelet en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 7.5</li>
                <li>Largeur(cm): 10.5</li>
                <li>Poids(grammes): 24 </li>
                <li>Ref: g40</li>
                <li>Stock: 2</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">15.6€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/bol-en-gres-g41">
      <div class="piece box gres bol">
  
          <img class=title src="/img/boutique/g41/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Bol en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 18.5</li>
                <li>Largeur(cm): 13</li>
                <li>Poids(grammes): 731 </li>
                <li>Ref: g41</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">24.7€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/entonoir-en-gres-g43">
      <div class="piece box gres entonoir">
  
          <img class=title src="/img/boutique/g43/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Entonoir en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 13</li>
                <li>Largeur(cm): 5.5</li>
                <li>Poids(grammes): 258 </li>
                <li>Ref: g43</li>
                <li>Stock: 10</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">15.6€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/saladier-en-gres-g45">
      <div class="piece box gres saladier">
  
          <img class=title src="/img/boutique/g45/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Saladier en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 20</li>
                <li>Largeur(cm): 9</li>
                <li>Poids(grammes): 1095 </li>
                <li>Ref: g45</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">45.5€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/bol-en-gres-g46">
      <div class="piece box gres bol">
  
          <img class=title src="/img/boutique/g46/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Bol en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 11</li>
                <li>Largeur(cm): 6</li>
                <li>Poids(grammes): 174 </li>
                <li>Ref: g46</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">15.6€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/bol-en-gres-g47">
      <div class="piece box gres bol">
  
          <img class=title src="/img/boutique/g47/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Bol en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 12</li>
                <li>Largeur(cm): 8</li>
                <li>Poids(grammes): 283 </li>
                <li>Ref: g47</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">16.9€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/gobelet-en-gres-g48">
      <div class="piece box gres gobelet">
  
          <img class=title src="/img/boutique/g48/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Gobelet en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 7.5</li>
                <li>Largeur(cm): 9</li>
                <li>Poids(grammes): 182 </li>
                <li>Ref: g48</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">19.5€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/pot-a-brosse-a-dent-en-gres-g49">
      <div class="piece box gres pot-a-brosse-a-dent">
  
          <img class=title src="/img/boutique/g49/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Pot à brosse à dent en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 13.5</li>
                <li>Largeur(cm): 10.5</li>
                <li>Poids(grammes): 442 </li>
                <li>Ref: g49</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">28.6€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/bol-en-gres-g5">
      <div class="piece box gres bol">
  
          <img class=title src="/img/boutique/g5/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Bol en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 13</li>
                <li>Largeur(cm): 8.5</li>
                <li>Poids(grammes): 385 </li>
                <li>Ref: g5</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">19.5€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/pot-a-brosse-a-dent-en-gres-g50">
      <div class="piece box gres pot-a-brosse-a-dent">
  
          <img class=title src="/img/boutique/g50/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Pot à brosse à dent en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 11</li>
                <li>Largeur(cm): 10.5</li>
                <li>Poids(grammes): 353 </li>
                <li>Ref: g50</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">27.3€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/pot-a-brosse-a-dent-en-gres-g51">
      <div class="piece box gres pot-a-brosse-a-dent">
  
          <img class=title src="/img/boutique/g51/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Pot à brosse à dent en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 12</li>
                <li>Largeur(cm): 11.5</li>
                <li>Poids(grammes): 423 </li>
                <li>Ref: g51</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">31.2€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/pot-a-brosse-a-dent-en-gres-g52">
      <div class="piece box gres pot-a-brosse-a-dent">
  
          <img class=title src="/img/boutique/g52/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Pot à brosse à dent en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 12</li>
                <li>Largeur(cm): 10.5</li>
                <li>Poids(grammes): 384 </li>
                <li>Ref: g52</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">31.2€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/pot-en-gres-g55">
      <div class="piece box gres pot">
  
          <img class=title src="/img/boutique/g55/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Pot en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 25</li>
                <li>Largeur(cm): 8.5</li>
                <li>Poids(grammes): 674 </li>
                <li>Ref: g55</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">45.5€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/bol-en-gres-g56">
      <div class="piece box gres bol">
  
          <img class=title src="/img/boutique/g56/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Bol en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 14</li>
                <li>Largeur(cm): 8.5</li>
                <li>Poids(grammes): 325 </li>
                <li>Ref: g56</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">19.5€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/bol-en-gres-g57">
      <div class="piece box gres bol">
  
          <img class=title src="/img/boutique/g57/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Bol en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 13</li>
                <li>Largeur(cm): 9</li>
                <li>Poids(grammes): 491 </li>
                <li>Ref: g57</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">19.5€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/bol-en-gres-g59">
      <div class="piece box gres bol">
  
          <img class=title src="/img/boutique/g59/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Bol en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 13</li>
                <li>Largeur(cm): 12</li>
                <li>Poids(grammes): 515 </li>
                <li>Ref: g59</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">19.5€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/vase-en-gres-g60">
      <div class="piece box gres vase">
  
          <img class=title src="/img/boutique/g60/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Vase en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 11.5</li>
                <li>Largeur(cm): 12.5</li>
                <li>Poids(grammes): 364 </li>
                <li>Ref: g60</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">19.5€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/bol-en-gres-g61">
      <div class="piece box gres bol">
  
          <img class=title src="/img/boutique/g61/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Bol en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 12.5</li>
                <li>Largeur(cm): 12.5</li>
                <li>Poids(grammes): 491 </li>
                <li>Ref: g61</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">20.8€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/boite-en-gres-g62">
      <div class="piece box gres boite">
  
          <img class=title src="/img/boutique/g62/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Boite en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 11</li>
                <li>Largeur(cm): 10.5</li>
                <li>Poids(grammes): 402 </li>
                <li>Ref: g62</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">0€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/gobelet-en-gres-g63">
      <div class="piece box gres gobelet">
  
          <img class=title src="/img/boutique/g63/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Gobelet en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 8.5</li>
                <li>Largeur(cm): 4.3</li>
                <li>Poids(grammes): 143 </li>
                <li>Ref: g63</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">13€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/gobelet-en-gres-g64">
      <div class="piece box gres gobelet">
  
          <img class=title src="/img/boutique/g64/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Gobelet en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 8.5</li>
                <li>Largeur(cm): 4</li>
                <li>Poids(grammes): 137 </li>
                <li>Ref: g64</li>
                <li>Stock: 4</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">10.4€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/gobelet-en-gres-g67">
      <div class="piece box gres gobelet">
  
          <img class=title src="/img/boutique/g67/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Gobelet en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 7.5</li>
                <li>Largeur(cm): 7.5</li>
                <li>Poids(grammes): 155 </li>
                <li>Ref: g67</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">13€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/bol-en-gres-g68">
      <div class="piece box gres bol">
  
          <img class=title src="/img/boutique/g68/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Bol en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 15.5</li>
                <li>Largeur(cm): 11.5</li>
                <li>Poids(grammes): 613 </li>
                <li>Ref: g68</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">22.1€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/boite-en-gres-g69">
      <div class="piece box gres boite">
  
          <img class=title src="/img/boutique/g69/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Boite en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 8</li>
                <li>Largeur(cm): 11.5</li>
                <li>Poids(grammes): 206 </li>
                <li>Ref: g69</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">24.7€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/bol-en-gres-g7">
      <div class="piece box gres bol">
  
          <img class=title src="/img/boutique/g7/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Bol en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 13.5</li>
                <li>Largeur(cm): 8.5</li>
                <li>Poids(grammes): 410 </li>
                <li>Ref: g7</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">19.5€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/boite-en-gres-g70">
      <div class="piece box gres boite">
  
          <img class=title src="/img/boutique/g70/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Boite en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 8.2</li>
                <li>Largeur(cm): 8</li>
                <li>Poids(grammes): 258 </li>
                <li>Ref: g70</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">19.5€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/boite-en-gres-g71">
      <div class="piece box gres boite">
  
          <img class=title src="/img/boutique/g71/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Boite en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 7.5</li>
                <li>Largeur(cm): 13</li>
                <li>Poids(grammes): 323 </li>
                <li>Ref: g71</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">26€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/cendrier-en-gres-g72">
      <div class="piece box gres cendrier">
  
          <img class=title src="/img/boutique/g72/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Cendrier en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 11</li>
                <li>Largeur(cm): 7</li>
                <li>Poids(grammes): 358 </li>
                <li>Ref: g72</li>
                <li>Stock: 2</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">31.2€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/cendrier-en-gres-g73">
      <div class="piece box gres cendrier">
  
          <img class=title src="/img/boutique/g73/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Cendrier en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 11</li>
                <li>Largeur(cm): 7</li>
                <li>Poids(grammes): 358 </li>
                <li>Ref: g73</li>
                <li>Stock: 2</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">31.2€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/bol-en-gres-g75">
      <div class="piece box gres bol">
  
          <img class=title src="/img/boutique/g75/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Bol en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 13</li>
                <li>Largeur(cm): 10.5</li>
                <li>Poids(grammes): 459 </li>
                <li>Ref: g75</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">19.5€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/bol-en-gres-g76">
      <div class="piece box gres bol">
  
          <img class=title src="/img/boutique/g76/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Bol en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 15</li>
                <li>Largeur(cm): 11.5</li>
                <li>Poids(grammes): 514 </li>
                <li>Ref: g76</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">32.5€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/boite-en-gres-g79">
      <div class="piece box gres boite">
  
          <img class=title src="/img/boutique/g79/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Boite en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 12</li>
                <li>Largeur(cm): 5</li>
                <li>Poids(grammes): 318 </li>
                <li>Ref: g79</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">26€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/boite-en-gres-g80">
      <div class="piece box gres boite">
  
          <img class=title src="/img/boutique/g80/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Boite en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 9.3</li>
                <li>Largeur(cm): 8.5</li>
                <li>Poids(grammes): 315 </li>
                <li>Ref: g80</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">26€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/coquetier-en-gres-g81">
      <div class="piece box gres coquetier">
  
          <img class=title src="/img/boutique/g81/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Coquetier en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 5</li>
                <li>Largeur(cm): 4</li>
                <li>Poids(grammes): 60 </li>
                <li>Ref: g81</li>
                <li>Stock: 3</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">6.5€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/vase-en-gres-g82">
      <div class="piece box gres vase">
  
          <img class=title src="/img/boutique/g82/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Vase en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 12.3</li>
                <li>Largeur(cm): 32.8</li>
                <li>Poids(grammes): 2252 </li>
                <li>Ref: g82</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">65€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/pichet-en-gres-g83">
      <div class="piece box gres pichet">
  
          <img class=title src="/img/boutique/g83/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Pichet en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 11.5</li>
                <li>Largeur(cm): 25.5</li>
                <li>Poids(grammes): 1310 </li>
                <li>Ref: g83</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">44.2€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/porte-savon-en-gres-g84">
      <div class="piece box gres porte-savon">
  
          <img class=title src="/img/boutique/g84/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Porte savon en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 12</li>
                <li>Largeur(cm): 3.5</li>
                <li>Poids(grammes): 142 </li>
                <li>Ref: g84</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">9.1€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/tasse-en-gres-g9">
      <div class="piece box gres tasse">
  
          <img class=title src="/img/boutique/g9/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Tasse en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 9.5</li>
                <li>Largeur(cm): 14</li>
                <li>Poids(grammes): 496 </li>
                <li>Ref: g9</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">22.1€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/plat-en-gres-gr1">
      <div class="piece box gres plat">
  
          <img class=title src="/img/boutique/gr1/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Plat en grès</div>
              <div class=info><ul>
                <li>Hauteur(cm): 27</li>
                <li>Largeur(cm): 19.5</li>
                <li>Poids(grammes): 4500 </li>
                <li>Ref: gr1</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">247€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/assiette-en-porcelaine-p12">
      <div class="piece box porcelaine assiette">
  
          <img class=title src="/img/boutique/p12/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Assiette en porcelaine</div>
              <div class=info><ul>
                <li>Hauteur(cm): 21.5</li>
                <li>Largeur(cm): 6</li>
                <li>Poids(grammes): 626 </li>
                <li>Ref: p12</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">58.5€</span></div>
          </div>
  
      </div>
  </a>


  <a href="/poteries/gobelet-en-porcelaine-p6">
      <div class="piece box porcelaine gobelet">
  
          <img class=title src="/img/boutique/p6/thumb.jpg"/>
  
          <div class=content>
              <div class=title>Gobelet en porcelaine</div>
              <div class=info><ul>
                <li>Hauteur(cm): 10.5</li>
                <li>Largeur(cm): 8.5</li>
                <li>Poids(grammes): 180 </li>
                <li>Ref: p6</li>
                <li>Stock: 1</li>
              </ul>
              </div>
              <div class="price_div">la pièce:  <span class="price">24.7€</span></div>
          </div>
  
      </div>
  </a>