<div class="important-info" style="font-size: 20px">
  <i class="fa fmoi :
  <ua-info-circle"></i> Les frais de ports ne sont pas inclus dans les prix.<br />
  Pour toute commande contactez moi:
  <ul>
    <li>
      Par mail: <a style="color:white" href="{{site.email}}"><b>{{site.email}}</b></a>
    </li>
    <li>Whatsapp:
      <a style="background-color: #25d366; color:white; padding: 3px 6px; border-radius: 30px;" href="https://wa.me/33601719031"><b><i class="fab fa-whatsapp" aria-hidden="true"></i></b></a>
    </li>
    <li>Téléphone:
      <a style="color:white" href="tel:0601719031"><b>
        {{site.phone}}</b></a>
    </li>
  </ul>
</div>