<h2 class="page-title">Comment passer commande ?</h1>
<p class=big>Pour toute commande écrivez-moi un mail à <b>lapoterieduvexin@hotmail.fr</b> avec la ou les références et
votre adresse postale.</p>

<h2 class="page-title">Frais de livraison</h1>
<p class=big>
Ils sont ajoutés au total en fonction du poids total de la commande :

    <ul>
      <li>Moins de <b>300g</b>: 6.25€</li>
      <li>Moins de <b>500g</b>: 7.1€</li>
      <li>Moins de <b>800g</b>: 7.8€</li>
      <li>Moins de <b>1800g</b>: 8.8€</li>
    </ul>
</p>
