    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-text">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                      <h1 class="brand-heading" style="font-size: 40px; color: black">
                        <img src="img/big_logo_notext.png" class="intro-logo" alt="La Poterie Du Vexin">La Poterie du Vexin</h1>
                        <p class="intro-text">Céramiques Artisanales Utilitaires Décoratives et Cours de Poterie au Tour</p>
                        <!--<a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>-->
                    </div>
                </div>
            </div>
        </div>
    </header>
