<!-- Intro Header -->
<header class="intro">
    <div class="intro-text">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading" style="font-size: 40px;">
                        <img src="img/big_logo_notext.png" class="intro-logo" alt="La Poterie Du Vexin">La Poterie du
                        Vexin
                    </h1>
                    <h2 class="intro-text"><p>Vente de Céramiques Artisanales Utilitaires Décoratives et Cours de Poterie
                        au Tour dans l'Eure (27)</p>
                        <a href="/cours-de-poterie-tour-louviers-les-andelys-eure" class="btn btn-primary">
                            Prendre un cours
                        </a>
                        <a href="/vente-de-poteries-artisanales" class="btn btn-warning">
                            Commander mes poteries
                        </a><br/><br/>
                        <a href="https://www.facebook.com/poterievexin">
                            <img src="/img/FB-f-Logo__blue_29.png" title="La Poterie du Vexin sur Facebook" />
                        </a>
    
                </div>
            </div>
        </div>
    </div>
</header>