<!-- Intro Header -->

<header class="intro">
    <div class="intro-text">
        <div class="container" style="display:flex; flex-direction: column; flex-flow: wrap; justify-content: center; padding-top: 80px">


            <img class=big-logo-homepage src="img/big_logo_notext_white.png" alt="La Poterie Du Vexin">
            <div style="min-width: 400;">
                <h1 class="brand-heading text-dark-color" style="font-size: 40px;">
                    la Poterie du
                    Vexin
                </h1>

                <h2 class="intro-text text-dark-color">
                    <p>Vente de céramiques artisanales utilitaires décoratives<br /> et cours de poterie
                        au tour dans l'Eure (27)</p>
                    <a href="/cours-de-poterie-tour-louviers-les-andelys-eure" class="btn btn-lg primary-background">
                        les Cours
                    </a>
                    <a href="/vente-de-poteries-artisanales" class="btn  btn-lg secondary-background">
                        la Boutique
                    </a>
                    <a href="/atelier-de-poterie" class="btn  btn-lg terciary-background">
                        l'Atelier
                    </a>
                    <br /><br />

            </div>
        </div>

    </div>
    <div id=mosaic class="intro-mosaic">
        <img src="img/photos_en_vrac/porcelaine_tout_juste_finies_de_tourner.jpg" height=150 />
        <img src="img/cours/enfant3_512.JPG" height=150 />
        <img src="img/tour.jpg" height=150 />
        <img src="img/atelier_poterie_vexin.jpg" height=150 style="opacity: 1" />
        <img src="img/cours/famille.jpg" height=150 />
        <img src="img/photos_en_vrac/bol_gres_decor_sur_email_cru_avant_cuisson.jpg" height=150 />
        <img src="img/photos_en_vrac/vue_de_la_salle_des_fours_un_jour_ensoleille.jpg" height=150 />
        <img src="img/reproduction_bbq_gaz_small.jpg" height=150 />
        <img src="img/photos_en_vrac/le_monde_de_yael2.jpg" height=150 />
        <img src="img/photos_en_vrac/la_grande_serie_2.jpg" height=150 />


    </div>
<script>
    autoScrollMosaic("mosaic");
</script>
</header>