 <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">
                  <img src="/img/logo_white_navbar_notext.png" style="height: 40px; margin-top: -10px; margin-right: 10px; float: left;" />
                  
                    <!-- <i class="fa fa-play-circle"></i>  <span class="light">La Poterie</span> Du Vexin -->
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/">Accueil</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/cours-de-poterie-tour-louviers-les-andelys-eure">Cours</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/#contact">Contact</a>
                    </li>
                    <li>
                      <a class="page-scroll" href="https://plus.google.com/u/0/+LapoterieduVexinMuids">Galerie Photo</a>
                    </li>
                    <li>
                      <a class="page-scroll" href="/partenaires">Partenaires</a>
                    </li>
                    <!--<li>
                        <a class="page-scroll" href="#contact">Vente de Poteries</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/blog">Blog</a>
                    </li>-->
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li>
                      <a class="navbar-brand" href="https://www.facebook.com/lapoterieduvexin">
                        <img  src="/img/FB-f-Logo__blue_29.png" title="La Poterie du Vexin sur Facebook"/>
                      </a>
                    </li>
                    <!-- <i class="fa fa-play-circle"></i>  <span class="light">La Poterie</span> Du Vexin -->
                </ul>
                
            </div>
            <!-- /.navbar-collapse -->
            </div>
        </div>
        <!-- /.container -->
    </nav>
