<!-- Navigation -->
<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">

        <a class="navbar-brand" href="/">
            <img src="/img/logo_white_navbar_notext.png" style="height: 40px; margin-top: -5px;" />
        </a>
        <a class="navbar-brand collapse navbar-collapse" href="/">
            la Poterie du Vexin
        </a>
        
        <a class="mobile-only navbar-brand" href="tel:0601719031" style="font-size: 35px; color: #6fea6f; ">
            <i class="fa fa-phone-square"></i>
        </a>
        <a class="mobile-only navbar-brand" href="https://wa.me/33601719031"
         style="font-size: 35px; color: #6fea6f; ">
            <i class="fab fa-whatsapp" aria-hidden="true"></i>
        </a>
        <a class="mobile-only navbar-brand" href="https://maps.google.com/?q=La poterie du vexin 27380 Amfreville sous les monts" style="font-size: 35px; color: #e05a5a; ">
            <i class="fa fa-map-marker-alt"></i>
        </a>
        

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Hidden li included to remove active class from about link when scrolled up past about section -->

            <ul class="navbar-nav navbar-right mr-auto mb-2 mb-lg-0">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cours-de-poterie-tour-louviers-les-andelys-eure">Cours</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/vente-de-poteries-artisanales">
                        Boutique</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/atelier-de-poterie">L'atelier</a>
                </li>
                <li class="nav-item">
                </li>
            </ul>
            <div>
                <a class="navbar-brand" href="https://youtube.com/channel/UCrlvsaxZ_nU0u3TKuOklqjw" style="margin-top: -5px;">
                    <img width="29" height="29" src="/img/youtube_social_squircle_red.png" title="La Poterie du Vexin sur Youtube" />
                </a>

                
                <a class="navbar-brand" href="https://www.facebook.com/poterievexin" style="margin-top: -5px;">
                    <img src="/img/FB-f-Logo__blue_29.png" title="La Poterie du Vexin sur Facebook" />
                </a>
            </div>

        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>