@import "colors";
@import "main";

.atelier-info {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
}
.atelier-info > div {
  @include full-width-on-mobile;
  width: 360px;
  margin: 20px;
}

.case-logo {
  width: 220px;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-align: center;
  background-color: primary-color;
}

