@import "colors";
@import "main";

.boutique_list
{
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
}


.boutique_list .piece
{
    @include paper;
    @include full-width-on-mobile;

    font-weight: 600;
    width: 300px;
    border: 2px none #aaaaaa;
    padding-bottom: 10px;
    text-align: left;
    transition: ease-out;
    transition-duration: 500ms;

    margin: 10px 0;
    font-size: 15px;

}

.boutique_list .piece .title {
    padding: 0px;
}
.boutique_list .piece .content {
    padding: 15px;
}

.boutique_list ul, .boutique_page ul {

    padding-left: 15px;
    list-style-type: none;
}

.boutique_list .piece:hover {
    background-color: rgba(0,0,0,0.15);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}
.boutique_list a:hover, .boutique_list a{
    text-decoration: none;   
    color: $text-color;
}


.piece .title
{
    font-size: 25px;
    font-weight: 700;

    color:$secondary-color;
}

.piece .price_div
{
    margin-top: 10px;
    font-weight: 700;
    text-align: right;
    color: $terciary-color;
}
 .piece .price
{
    font-weight: 700;
    font-size: 25px;
}

.boutique_page .images {
    width: 100%;
    display:flex;
    justify-content: center;
    flex-flow: wrap;
}
.boutique_page .images img {
    @include rounded-corners;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}


.boutique_page .images > * {
    margin: 10px;
  }


.boutique_page .piece .price_div {
    text-align: left;

}

.boutiqueFiltersContainer {
    background-color:#ffe5d7;
    padding-top: 70px;
    top: 0;
    display: flex;
    position: sticky;
    .close-button { display: none;   float: right;  display: inline;    color: $text-dark-color;     }       
    .header {
        background-color: $primary-color;
        color: $text-dark-color;
    }
}
#boutiqueFiltersBackdrop { display: none; }
@media(max-width:500px) {
    #boutiqueFiltersBackdrop {
        background-color: rgba(0,0,0,0.5);
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index:10000;
    }
    .boutiqueFiltersContainer {
        @include rounded-corners;
        padding: 0px;
        .header, .content {
            padding: 20px;
        }
        flex-direction: column;
        display: none;
        position: fixed;
        width: 80vw; 
        height: 80vh;

        margin: 10vh auto; /* Will not center vertically and won't work in IE6/7. */
        left: 0;
        right: 0;

        box-shadow: 2px 2px 50px rgba(0,0,0,0.8);

        overflow: scroll;
        z-index: 10000;
        #boutiqueTagFilters {
            columns: 2;
        }      
    }
}

#boutiqueTagFilters , #boutiqueMaterialFilters {
    list-style-type: none;
    padding-left: 0;
}

#boutiqueTagFilters {
    columns: 4;
}

.filterTitle {
    font-size: 20px;
    font-weight: 600;
}

.boutique-filter-mobile-button {
    cursor: pointer;
    position: fixed; 
    left: 10px;
    bottom: 10px;
    width: 60px;
    height: 60px;
    background: $secondary-color;
    color: $text-dark-color;
    padding: 20px;
    border-radius: 400px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}