@import "colors";
@import "main";

.boutique_list
{
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
}


.boutique_list .piece
{
    @include paper;
    @include full-width-on-mobile;

    font-weight: 600;
    width: 300px;
    border: 2px none #aaaaaa;
    padding-bottom: 10px;
    text-align: left;
    transition: ease-out;
    transition-duration: 500ms;

    margin: 10px 0;
    font-size: 15px;

}

.boutique_list .piece .title {
    padding: 0px;
}
.boutique_list .piece .content {
    padding: 15px;
}

.boutique_list ul, .boutique_page ul {

    padding-left: 15px;
    list-style-type: none;
}

.boutique_list .piece:hover {
    background-color: rgba(0,0,0,0.15);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}
.boutique_list a:hover, .boutique_list a{
    text-decoration: none;   
    color: $text-color;
}


.piece .title
{
    font-size: 25px;
    font-weight: 700;

    color:$secondary-color;
}

.piece .price_div
{
    margin-top: 10px;
    font-weight: 700;
    text-align: right;
    color: $terciary-color;
}
 .piece .price
{
    font-weight: 700;
    font-size: 25px;
}

.boutique_page .images {
    width: 100%;
    display:flex;
    justify-content: center;
    flex-flow: wrap;
}
.boutique_page .images img {
    @include rounded-corners;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}


.boutique_page .images > * {
    margin: 10px;
  }


.boutique_page .piece .price_div {
    text-align: left;

}

.boutiqueFiltersContainer {
    background-color:#ffe5d7;
}


@media(max-width:700px) {
    .boutiqueFiltersContainer {
        display: none;
    }
}

#boutiqueTagFilters , #boutiqueMaterialFilters {
    list-style-type: none;
    padding-left: 0;
}

#boutiqueTagFilters .form-check, #boutiqueMaterialFilters .form-check {
    // width: 200px;
}

#boutiqueTagFilters {
    columns: 4;
    // width: 200px;
}

.filterTitle {
    font-size: 20px;
    font-weight: 600;
}