

$text-color: #291300;
$text-dark-color: #ffe2d3e3;
$primary-color: #643C2B;
$primary-dark-color: #EAC9C1;
$secondary-color: #D94E34;
$terciary-color: #80704D;
$primary-dark-color: #FFFFFF;
$links-color: #D94E34;
$links-hover-color: darken($links-color, 20%);

.text-color { color: $text-color;}
.text-dark-color { color: $text-dark-color;}
.primary-color { color: $primary-color;}
.primary-dark-color { color: $primary-dark-color;}
.secondary-color { color: $secondary-color;}
.terciary-color { color: $terciary-color;}
.primary-dark-color { color: $primary-dark-color;}
.links-color { color: $links-color;}

.secondary-background {
  background-color: $secondary-color;
  color: $text-dark-color;
}

.primary-background {
  background-color: $primary-color;
  color: $text-dark-color;
}

.terciary-background {
  background-color: $terciary-color;
  color: $text-dark-color;
}


.btn:hover {
  background-color: darken($primary-color, 10%);
  // color: $secondary-color;
  color: $text-dark-color;
}
.secondary-background.btn:hover  {
  // color: $primary-color;
  color: $text-dark-color;
  background-color: darken($secondary-color, 20%);
}
.terciary-background.btn:hover  {
  color: $text-dark-color;
  background-color: darken($terciary-color, 10%);
  // color: $primary-color;
}
