@import "colors";
@import "main";

.navbar{
  font-family: 'Overlock', cursive;
  color: $text-dark-color;
  background-color: $primary-color;
}


.navbar a {
  @include rounded-corners;
  color: $text-dark-color;
  font-size: 20px;
  
}

.navbar a:hover {
  background-color: rgba(255,255,255,0.1);
    text-decoration: none;
    color: $text-dark-color;
}
