
.cours_list
{
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.cours
{
    font-size: 20px;
    font-weight: 600;
    float:left;
    width: 220px;
    height: 150px;
    background-color: #dddddd;
    margin: 5px;
    border: 2px solid #aaaaaa;
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.cours .price
{
    margin-top: 10px;
    font-weight: 700;
    font-size: 30px;

    color: #318232;
}
.cours_enfant
{
}

.cours_adulte
{
}

.cours .price_per_hour
{
    font-weight: 500;
}